<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<table>
    <% posts.forEach((post) => { %>
        <tr>
            <!-- post image -->
            <td><img src="<%= post.data.thumbnail; %>"/></td>
            <!-- post link + title -->
            <td><a href="<%= post.data.url; %>"><%= post.data.title; %></a></td>
        </tr>
    <% }); %>
</table>
</body>
</html>
